/*********
LIST STYLE
**********/

.section__list {
  width: 87%;
  min-height: 100vh;
  padding-top: 10.9rem;

  position: relative;
  &.--light {
    background-image: url(../../images/icon-moon.svg);
  }

  &.--dark {
    background-image: url(../../images/icon-sun.svg);
  }
  background-repeat: no-repeat;
  background-position: 100% 4.8rem;
  background-size: 2rem 2rem;

  &::before {
    content: "TODO";
    position: absolute;
    top: 4.85rem;
    font-size: 2.6rem;
    letter-spacing: 1.05rem;
    font-weight: 700;
    color: var(--Very-Light-Gray);
  }
}

/*input wrapper style*/
.input__wrapper {
    width: 100%;
    &.--add {
    height: 4.8rem;
  }
  &.--show {
    height: 5.2rem;
  }
  &.--light {
    background-color: white;
  }
  &.--dark {
    background-color: var(--Very-Dark-Desaturated-Blue);
  }

  border: none;
  border-radius: 5px;
  padding: 0 2rem;

  display: flex;
  align-items: center;
}

/*checkbox style*/
.checkbox__box {
  height: 2rem;
  width: 2rem;
  position: relative;

  & .--input {
    display: none;
  }

  &.--light {
    color: var(--Very-Dark-Grayish-Blue-light);

    &::before,
    &::after {
      border: 1px solid var(--Light-Grayish-Blue-light);
    }
  }

  &.--dark {
    &::before,
    &::after {
      border: 1px solid var(--Dark-Grayish-Blue-dark);
    }
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;

    top: 50%;
    // left: -3.2rem;
    transform: translateY(-50%);

    cursor: pointer;
  }

  &.checked::after {
    background-image: url(../../images/icon-check.svg),
      linear-gradient(to bottom right, var(--Check-Background));
    background-repeat: no-repeat;
    background-position: center;
  }
}

/*checkbox label style*/
.checkbox__label {
  position: relative;
  width: 100%;
  margin-left: 1.4rem;
  font-size: 1.15rem;
  font-weight: 700;
  color: var(--Dark-Grayish-Blue-light);
}

/*add input style*/
.add {
  position: relative;
  border: none;
  height: 2rem;
  padding-top: 0.3rem;
  width: 100%;
  font-size: 1.15rem;
  // font-weight: 700;

  &.--light {
    color: var(--Very-Dark-Grayish-Blue-light);
  }
  &.--dark {
    color: var(--Dark-Grayish-Blue-dark);
    background-color: var(--Very-Dark-Desaturated-Blue);
  }
  &::placeholder {
    color: var(--Dark-Grayish-Blue-light);
  }

  &:focus {
    outline: none;
  }
}

/*show list style*/
.list__wrapper {
  margin-top: 1.6rem;

  display: grid;
  grid-template-columns: 1fr;
  row-gap: 0.2rem;
}
.--delete {
  // position: absolute;
  height: 1.8rem;
  width: 1.8rem;

  // right: 2.2rem;
  background-image: url(../../images/icon-cross.svg);
  background-repeat: no-repeat;
  background-size: 1.3rem;
  background-position: center;
}
