/*********
LIST STYLE
**********/

/*
MOBILE LAYOUT
*************/
.section__list {
  width: 87%;
  min-height: 100vh;
}

/*input wrapper style*/
.input__wrapper {
  width: 100%;
  &.--add {
    margin-top: 3.4rem;
    height: 4.8rem;
  }
  &.--show {
    height: 5.1rem;
    margin-bottom: 0.2rem;
  }
  &.--light {
    background-color: white;
  }
  &.--dark {
    background-color: var(--Very-Dark-Desaturated-Blue);
  }

  border: none;
  border-radius: 5px;
  padding: 0 1.7rem 0 2rem;

  display: flex;
  align-items: center;
}

/*checkbox style*/
.checkbox__box {
  height: 2rem;
  width: 2rem;
  position: relative;

  &.--light {
    color: var(--Very-Dark-Grayish-Blue-light);

    &::before,
    &::after {
      border: 1px solid var(--Light-Grayish-Blue-light);
    }
  }

  &.--dark {
    &::before,
    &::after {
      border: 1px solid var(--Dark-Grayish-Blue-dark);
    }
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;

    top: 50%;
    transform: translateY(-50%);

    cursor: pointer;
  }
}

/*checkbox checked style*/
.checkbox__box.checked {
  &::after {
    background-image: url(../../images/icon-check.svg),
      linear-gradient(to bottom right, var(--Check-Background));
    background-repeat: no-repeat;
    background-position: center;
  }
  & ~ .checkbox__label {
    text-decoration: 1.5px line-through;
    // text-decoration-line: line-through;
    opacity: 0.3;
  }
}

/*checkbox label style*/
.checkbox__label {
  position: relative;
  width: 77%;
  margin-left: 1.1rem;
  padding-top: .3rem;
  font-size: 1.15rem;
  font-weight: 700;
  color: var(--Dark-Grayish-Blue-light);
  & .--input {
    display: none;
  }
}

/*add input style*/
.add {
  position: relative;
  border: none;
  height: 2rem;
  padding-top: 0.3rem;
  width: 100%;
  font-size: 1.15rem;
  // font-weight: 700;

  &.--light {
    color: var(--Very-Dark-Grayish-Blue-light);
  }
  &.--dark {
    color: var(--Dark-Grayish-Blue-dark);
    background-color: var(--Very-Dark-Desaturated-Blue);
  }
  &::placeholder {
    color: var(--Dark-Grayish-Blue-light);
  }

  &:focus {
    outline: none;
  }
}

/*show list style*/
.list__wrapper {
  margin-top: 1.6rem;
}
.--delete {
  height: 1.8rem;
  width: 1.8rem;
  margin-left: auto;

  background-image: url(../../images/icon-cross.svg);
  background-repeat: no-repeat;
  background-size: 1.3rem;
  background-position: center;

  cursor: pointer;
}

/*
DESKTOP LAYOUT
**************/
@media screen and (min-width: 1366px) {
  .section__list {
    width: 37.5%;
  }
  /*input wrapper style*/
.input__wrapper {
  &.--add {
    margin-top: 4rem;
    height: 6.4rem;
  }
  &.--show {
    height: 6.3rem;
    margin-bottom: 0.2rem;
  }
 
  padding: 0 1.7rem 0 2.3rem;
}
/*checkbox style*/
.checkbox__box {
  height: 2.5rem;
  width: 2.5rem;


  &::before,
  &::after {
 
    height: 2.5rem;
    width: 2.5rem;

    top: 50%;
    transform: translateY(-50%);

  }
}

/*checkbox label style*/
.checkbox__label {
  margin-left: 2.2rem;
  font-size: 1.8rem;
}

/*add input style*/
.add {
  font-size: 1.8rem;
}

/*show list style*/
.list__wrapper {
  margin-top: 2.4rem;
}
}