/**************
OPERATION STYLE
***************/
/*
DESKTOP LAYOUT
*************/
.operations {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-areas:
    "amount clear"
    "show show";
  row-gap: 1.6rem;
}
.items__amount,
.btn.--clear {
  height: 5rem;

  &.--light {
    color: var(--Dark-Grayish-Blue-light);
    background-color: white;
  }
  &.--dark {
    color: var(--Dark-Grayish-Blue-dark);
    background-color: var(--Very-Dark-Desaturated-Blue);
  }

  font-size: 1.1rem;
  font-weight: 700;
  width: 100%;

  display: flex;
  align-items: center;
}
.items__amount {
  grid-area: amount;
  padding-left: 2rem;
  border-bottom-left-radius: 4px;
}

.btn.--clear {
  grid-area: clear;
  justify-content: flex-end;

  padding-right: 2rem;
  border-bottom-right-radius: 4px;
  cursor: pointer;
}

.btn {
  &__wrapper {
    grid-area: show;
    height: 5rem;
    border-radius: 4px;

    display: flex;
    align-items: center;
    justify-content: center;

    &.--light {
      background-color: white;
    }
    &.--dark {
      background-color: var(--Very-Dark-Desaturated-Blue);
    }
  }

  &.--show {
    font-size: 1.4rem;
    font-weight: 900;
   
    text-decoration: none;
    cursor: pointer;

    &.--active {
      padding: 0 1.8rem;
    }
  }
}

.btn {
  &.--light {
    color: var(--Dark-Grayish-Blue-light);
    &:hover {
      color: var(--Very-Dark-Grayish-Blue-light);
    }
  }
  &.--dark {
    color: var(--Dark-Grayish-Blue-dark);
    &:hover {
      color: var(--Dark-Grayish-Blue-dark-hover);
    }
  }
  
  &:focus,
  &:active {
    color: var(--Bright-Blue);
  }
}

/*
DESKTOP LAYOUT
*************/
@media screen and (min-width: 1366px) {
  .operations {
    display: initial;

  }

  .items__amount,
.btn.--clear {
  height: 5rem;

 
  font-size: 1.1rem;
  font-weight: 700;
  width: 100%;

  display: initial;
  // align-items: center;
}

.btn {
  &__wrapper {
    height: 5rem;
    border-radius: 4px;

    display: initial;
    // align-items: center;
    // justify-content: center;

  
  }

  &.--show {
    font-size: 1.4rem;
    font-weight: 900;
   


    &.--active {
      padding: 0 0rem;
    }
  }
}

}